body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fullcontainer {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.bgfundo {
  background: url(https://placehold.co/644x345) no-repeat/center;
  width: 100%;
  height: 700px;
}

header {
  color: #008dda;
  background: #f7eedd;
  display: flex;
  justify-content: space-around;
  height: 120px;
}

#divLogo {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#divMenu {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#divBotoes {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#menu-principal {
  display: flex;
  justify-content: space-evenly;
}

#menu-principal li {
  width: 80px;
  text-align: center;
  list-style: none;
}

#menu-principal li a {
  font-size: 14px;
  color: #008dda;
  text-decoration: none;
}
#menu-principal li a:hover {
  color: #41c9e2;
}

.container {
  max-width: 1073px;
  margin: 0 auto;
}

.btnMenu {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008dda;
  border: #008dda solid 1px;
  border-radius: 65px;
  padding: 0px 15px;
  font-size: 16px;
  height: 40px;
}

.btnMenu:hover {
  background: #41c9e2;
  color: #f7eedd;
  border: #41c9e2 solid 2px;
  border-radius: 65px;
  padding: 0px 15px;
  font-size: 16px;
  font-weight: bolder;
  height: 40px;
}

.labelBtn {
  margin-left: 10px;
}
#divBanner {
  overflow: hidden;
}

#divAgendamento {
  text-align: center;
  font-size: 25px;
}

#segundoMenu {
  background: #008dda;
  color: #f7eedd;
  border: #008dda solid 2px;
  border-radius: 65px;
  padding: 0px 15px;
  font-size: 16px;
  font-weight: bolder;
  height: 40px;
  margin-right: 8px;
}

#segundoMenu:hover {
  background: #41c9e2;
  color: #ffffff;
  border: #41c9e2 solid 2px;
  border-radius: 65px;
  padding: 0px 15px;
  font-size: 16px;
  font-weight: bolder;
  height: 40px;
}

#descricao {
  font-size: 10px;
}
#image {
  background: #ececec;
  height: 400px;
  bottom: 100px;
}
#image img {
  justify-content: center;
}

#imageService {
  margin: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#imageService img {
  width: 300px;
}

#divQuestions {
  text-align: center;
  font-size: 25px;
  color: #008dda;
}

#divPerguntas {
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#divPerguntas button {
  border-radius: 15px;
  border-color: #008dda;
  text-align: initial;
  width: 60%;
  background: rgba(255, 255, 255, 0.845);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#divSobre {
  background: #f4f4f4e2;
  height: 467px;
  bottom: 100px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.sobre {
  color: #008dda;
  display: flex;
  width: 720px;
  margin: 0 auto;
}

#divQuemsomos {
  font-size: 13px;
  display: flex;
  width: 550px;
  margin: 0 auto;
  min-width: 80%;
}
#divQuemsomos img{
  margin-left: 25px;
 
}

.forms {
  margin: 40px;
  z-index: 2;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  max-width: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  display: block;
  background: #fff;
  padding: 48px 22px;
  text-align: center;
  text-transform: uppercase;
}

.forms h2 {
  color: #008dda;
  font-size: 28px;
  line-height: 80px;
  margin: 0;
}

.forms p {
  margin: 0;
  margin-top: -12px;
  margin-bottom: 13px;
}

.forms small {
  color: #333;
  font-size: 14px;
}

.forms input,
.forms textarea {
  padding: 0 16px;
  line-height: 36px;
  background: transparent;
  border-radius: 12px;
  border: solid 2px #999;
  font-weight: 400;
  font-size: 14px;
  width: 80%;
  margin-bottom: 10px;
}

.forms form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms input[type="submit"] {
  background: #008dda;
  border-color: #008dda;
  width: 155px;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
}

.Zap {
  color: inherit;
  text-decoration: none;

}

footer {
  background: #F7EEDD;
  min-height: 400px;
  /* margin-top: -281px; */
  color: #008dda;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


footer #dados{
display: flex;
width: 1070px;
}

footer .itens {
  display: flex;
  max-width: 50%;
}

footer .loc {
  color: #008dda;
  
}

#copyright {
  text-align: center;
  margin-top: 100px;
}

